<div class="view-btns">
  <div class="controls-btn">
    <button class="btn btn-primary" (click)="setToday($event)">Today</button>
    <button
      class="btn btn-link"
      title="Prev {{ view | titlecase }}"
      (click)="changePeriod(view, 'prev')"
    >
      <
    </button>
    <button
      class="btn btn-link"
      title="Next {{ view | titlecase }}"
      (click)="changePeriod(view, 'next')"
    >
      >
    </button>
    <span class="string-date">{{ stringDate }}</span>
  </div>
  <div ngbDropdown class="view-list">
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      {{ view | titlecase }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button
        (click)="setView(viewName)"
        *ngFor="let viewName of viewList"
        ngbDropdownItem
      >
        {{ viewName | titlecase }}
      </button>
    </div>
  </div>
</div>
<div [ngSwitch]="view" class="view">
  <ng-template ngSwitchCase="week">
    <app-week-view
      [weekData]="weekData"
      (onShowModal)="onShowAddModal($event)"
    ></app-week-view>
  </ng-template>
  <ng-template ngSwitchCase="day">Day</ng-template>
  <ng-template ngSwitchDefault>
    <app-month-view
      [monthData]="monthData"
      (onShowModal)="onShowAddModal($event)"
    ></app-month-view>
  </ng-template>
</div>
<app-modal></app-modal>
